.header {
  background-color: inherit;
  display: flex;
  font-family: "Open Sans", sans-serif;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  z-index: 99;
}
.headerZD{
  font-family: "Open Sans", sans-serif;
  font-size: 64px;
  line-height: 70px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #95ce5a;
}
.headerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  color: #000;
  max-width: 1200px;
  z-index: 99;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.headerContacts {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.phoneList {
  list-style: none;
  padding: 0;
  padding-left: 35px;
  margin: 0;
  margin-top: 15px;
  border-left: 2px solid #95ce5a;
}
.phoneList a {
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  color: #424242;
}
.phoneList a:hover {
  color: #95ce5a;
}

.adress {
  margin-top: 15px;
  margin-right: 35px;
}

.adress span {
  font-size: 16px;
  line-height: 26px;
  color: #424242;
}
