.news {
  color: #424242;
  padding: 50px 0;
}

.title {
  font-size: 28px;
  line-height: 36px;
}
.wrapBtn {
  text-align:  center;
}
.link:hover {
  color: rgba(67, 164, 0, 0.95);
  text-decoration: underline;
  transition: 0.2s all linear;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  padding: 0;

}
