.wrap {
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  text-align: left;
  max-width: 49%;
}
.wrapInfo{
  padding: 0 20px 0 35px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-between;
}
.title {
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 10px;
}
.position{
  color: #6A6A6A;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 25px;
}
.description {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 16px;
}
