.greeting {
    padding: 50px 0 50px;
    text-align: center;
    color: #424242;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-size: 36px;
    line-height: 48px;
    font-weight: 500;
}
.text {
    font-size: 16px;
    line-height: 28px;    
}
