.typesmassage {
  color: #424242;
  background-image: url(/images/career.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.title {
  padding: 0 0 50px;
  text-align: center;
  font-size: 28px;
  line-height: 36px;
}
.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.item {
  flex-grow: 1;
  text-align: center;
}
.subtitle {
}
.description {
  max-width: 400px;
  text-align: justify;
  margin: 0 auto;
}
