.navigation {
  width: 100%;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
}

.nav li {
  display: flex;
  align-items: center;
}

.nav a {
  text-decoration: none;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 15px 15px 15px;
  box-sizing: border-box;
  font-weight: 600;
  text-transform: uppercase;
  color: #424242;
  transition: 0.3s ease;
}

.nav a:hover,
.nav a.active {
  border-color: #ebebeb;
  color: #95ce5a;
  transition: 0.3s ease;
}
