.container {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.list li {
  padding-bottom: 50px;
}
