.specialists {
  color: #424242;
  padding: 25px 0 50px;
}
.container {
  max-width: 1200px;
  margin: 0 auto 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link {
  color: #424242;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  transition: 0.2s all linear;
}
.link:hover {
  color: rgba(67, 164, 0, 0.95);
  text-decoration: underline;
  transition: 0.2s all linear;
}
ul.container {
  list-style: none;
  padding: 0;
}
