footer {
  background-color: #464d54;
  color: #80838d;
  font-size: 17px;
  line-height: 18px;
  padding: 50px 0;
}
.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #80838d;
}
.adresslist {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  max-width: 350px;
  text-align: left;
}
.adresslist span {
  font-size: 17px;
  line-height: 26px;
}
.adresslist span:nth-child(1) {
  text-transform: uppercase;
  padding-bottom: 25px;
}
.adressItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.adressItem img {
  width: 25px;
  margin-right: 10px;
}
.contactList {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contactList a {
  font-size: 17px;
  line-height: 26px;
  color: #80838d;
  transition: all 0.25s ease;
  text-decoration: none;
}
.contactList a:hover {
  color: #95ce5a;
  transition: all 0.25s ease;
}
.contactItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}
.contactItem img {
  width: 20px;
  margin-right: 10px;
}
.socialList{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  list-style: none;
  margin:0;
  padding:0;
}
.socialItem{
    margin-left: 10px;
  }