footer {
  background-color: #464d54;
  color: #80838d;
  font-size: 17px;
  line-height: 18px;
  padding: 50px 0 0;
}
.footerContent {
  flex-direction: column;
  width: 100%;
}
.footerTop {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #80838d;
}
.adresslist {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  max-width: 350px;
  text-align: left;
}
.adresslist span {
  font-size: 17px;
  line-height: 26px;
}
.adresslist span:nth-child(1) {
  text-transform: uppercase;
  padding-bottom: 25px;
}
.adressItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.adressItem img {
  width: 25px;
  margin-right: 10px;
}
.adresslist a {
  color: #80838d;
  margin-left: 35px;
  font-size: 14px;
  transition: 0.25s all linear;
}
.adresslist a:hover {
  color: #95ce5a;
  transition: 0.25s all linear;
}

.contactList {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contactList a {
  font-size: 17px;
  line-height: 26px;
  color: #80838d;
  transition: 0.25s all linear;
  text-decoration: none;
}
.contactList a:hover {
  color: #95ce5a;
  transition: 0.25s all linear;
}
.contactItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}
.contactItem img {
  width: 20px;
  margin-right: 10px;
}
.contactItem:first-child img {
  width: 25px;
}
.socialBox {
  text-align: left;
}
.socialBox span{
  display: block;
  margin-bottom: 15px;
}
.footerNav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin-bottom: 25px;
}
.footerNav li {
  margin-right: 20px;
}
.footerNav li a{
  color: #80838d;
  transition: 0.25s all linear;
  text-decoration: none;
}
.footerNav li a:hover {
  color: #95ce5a;
  transition: 0.25s all linear;
}
.copir{
  margin: 10px auto;
  display: block;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
}

@media screen and (max-width: 991px) {
  .footerTop {
    flex-wrap: wrap;
  }
  .adresslist {
    flex-basis: 50%;
  }
  .contactList {
    flex-basis: 50%;
    margin-bottom: 30px;
  }
  .socialBox {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .socialBox span {
    margin-bottom: 0;
    margin-right: 20px;
  }
}
@media screen and (max-width: 576px) {
  .adresslist {
    flex-basis: 100%;
    margin-bottom: 25px;
  }
  .contactList {
    flex-basis: 100%;
    margin-bottom: 25px;
  }
}
