footer {
    background-color: #464d54;
    color: #80838d;
    font-size: 17px;
    line-height: 18px;
    padding: 80px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
} 

.list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    list-style: none;
}

footer {
    font: 15px/17px 'Open Sans';
    color: #80838d;
    text-transform: uppercase;
}

.link:hover {
    color: #8fbf4d;
    transition: all 0.25s ease;
}
