.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: #2c3045;
  color: #ffffff;
  font-size: 14px;
}
.title {
  margin: 0px;
  font-size: 24px;
}
.adminMain {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nav {
  background: #393d53;
  max-width: 260px;
  height: calc(100vh - 76px);
  overflow: hidden;
}
.nav ul {
  margin: 0;
  padding: 20px 0;
}
.nav li {
  list-style: none;
  align-items: center;
  transition: all 0.3 linear;
}
.active {
  background: #545666;
}
.nav a {
  font-size: 16px;
  line-height: 19px;
  padding: 16px 20px;
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  display: flex;
}
.nav li:hover,
.nav li:active {
  background: #414457;
  transition: all 0.3 linear ;
  cursor: pointer;
}
