.item {
  list-style: none;
}
.btn {
  padding: 10px 15px 10px 15px;
  display: flex;
  width: 100%;
  font-size: 16px;
  line-height: 36px;
  color: #95ce5a;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}
.btnHover {
  opacity: 0;
  transition: 0.3s;
  margin-left: auto;
}
.btn:hover {
  background-color: #f2f2f2;
  transition: 0.3s;
}
.btn:hover .btnHover {
  opacity: 1;
  transition: 0.3s;
}
