.container {
  max-width: 1200px;
  margin: 25px auto 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.titleGroup {
  padding-bottom: 25px;
}
.titleGroup ul {
  margin: 25px 0 35px;
  padding: 0;
  list-style: none;
}
.product h3 {
  font-family: "Oswald", sans-serif; 
}
.product span {
  font-family: "Roboto", sans-serif;
}
.titleGroup li {
  font-family: "Roboto", sans-serif;
  padding-bottom: 20px;

  padding-left: 25px;
  list-style: none;
  position: relative;
}
.titleGroup li:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 10px;
  height: 3px;
  background-color: rgba(67, 164, 0, 0.95);
}
.product {
  padding: 50px 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #f2f2f2;
}
.product:nth-child(odd) {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.product .productText {
  padding: 0 50px 0 0 ;
}
.product:nth-child(odd) .productText {
  padding: 0 0 0 50px ;
}
.product h3 {
  padding: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.product ul {
  padding: 0;
  list-style: none;
}
.product li {
  padding: 10px 35px;
  list-style: none;
  position: relative;
}
.product li:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 10px;
  width: 8px;
  height: 8px;
  background-color: rgba(67, 164, 0, 0.95);
}
