@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&display=swap&subset=cyrillic");
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap&subset=cyrillic');

body {
  margin: 0;
  color: #424242;
  font-family: -apple-system, BlinkMacSystemFont, "Oswald", "Open Sans", "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
h2 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
}
h3 {
  font-weight: 500;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.row {
  width: 100%;
}
.btn {
  display: inline-block;
  border-radius: 5px;
  padding: 15px 40px;
  outline: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: center;
  color: #333e50;
  transition: all .25s;
  text-decoration: none;
}
.btn:hover {
  border-color: #333e50;
  color: #333e50;
  transition: all .25s;
}
@media screen and (max-width: 1199px) {
  .container  {
    max-width: 960px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}