.login {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  background: #393d53;
  height: 100vh;
}
.login h1 {
  color: #fff;
}
.loginForm {
  border-radius: 5px;
  padding: 30px 40px 10px;
  background: #50566e;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
}
